# Generated / large artifacts
cifar10_dataset/
**/data/
**/weights/
**/weights_*/
*.mem
*.pth
*.pt
*.ckpt
*.onnx
*.tar.gz
*.gz
*.npz
*.npy
*.h5
*.xlsx
*.lnk
desktop.ini
# Vivado build artifacts
xsim.dir/
.Xil/
*.jou
*.log
*.pb
*.dcp
vivado.log
vivado.jou
webtalk*
xsim_*.backup.jou
xsim_*.backup.log

# Python cache
__pycache__/
*.pyc

